/ Requires the following locals:
/ user [User]
/ context [Symbol] :create or :update

= form_for(user, method: (context == :create ? :post : :patch)) do |f|
  %div.form-group
    = f.label(:username, 'Username')
    = f.text_field(:username, class: 'form-control')

  %div.form-group
    %label Roles
    = hidden_field_tag('user[role_ids][]', nil)
    - Role.all.order(:name).each do |role|
      %div.checkbox
        = label_tag do
          = check_box_tag(:role_ids, role.id, @user.roles.include?(role), name: 'user[role_ids][]')
          = role.name

  = f.submit((context == :create ? 'Create' : 'Update'), class: 'btn btn-primary')