= provide(:active_nav, 'users')

= breadcrumb({ label: 'Users' })

%div.float-right.btn-group{role: 'group'}
  = link_to(new_user_path, class: 'btn btn-light') do
    = fa_icon('plus')
    = ' New User'

%h1 Users

%table.table.table-striped
  %thead
    %tr
      %th NetID
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to(user.username, user)