/ Requires the following locals:
/ role [Role]
/ context [Symbol] :create or :update

= form_for(role, method: (context == :create ? :post : :patch)) do |f|
  %div.form-group
    = f.label(:name, 'Name')
    = f.text_field(:name, class: 'form-control')
  %div.form-group
    = f.label(:key, 'Key')
    = f.text_field(:key, class: 'form-control')
  = f.submit((context == :create ? 'Create' : 'Update'), class: 'btn btn-primary')